.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.imgList{
	max-width: 1200px;
	margin: auto;
}
.imgList *,
.imgList *::before,
.imgList *::after{
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.imgList figure{
	float: left;
	width: 30%;
	margin: calc(10%/6);
	overflow: hidden;
	border: 10px solid rgba(255,255,255,1);
	box-shadow: 0px 1px 6px 0px rgba(0,0,0,.5);
	position: relative;
	cursor: pointer;
}
.imgList figure img{
	width: 100%;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.imgList figure:hover img{
	-webkit-transform: scale(1.2) rotate(6deg);
	-moz-transform: scale(1.2) rotate(6deg);
	-ms-transform: scale(1.2) rotate(6deg);
	-o-transform: scale(1.2) rotate(6deg);
	transform: scale(1.2) rotate(6deg);
}
.imgList figure figcaption{
	border: 1px solid #fff;
	border-bottom: none;
	position: absolute;
	width: 60%;
	height: 30%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 3;
	background-color:rgba(0,0,0,.5);
}
.imgList figure:hover figcaption{
	background-color:rgba(0,0,0,.1);
}
.imgList figure figcaption::before,
.imgList figure figcaption::after{
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
}
.imgList figure figcaption::after{
	right: 0;
}
.imgList figure:hover figcaption::before,
.imgList figure:hover figcaption::after{
	width: 20%;
}
.imgList figure figcaption h3,
.imgList figure figcaption p{
	color: #fff;
	text-align: center;
}
.imgList figure figcaption h3{
	font-size: 1.4em;
}
.imgList figure figcaption p{
	position: relative;
	top: -5px;
	opacity: 0;
}
.imgList figure:hover figcaption p{
	opacity: 1;
}