.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.imageList {
	max-width: 1200px;
	margin: auto;
}
.imageList *,
.imageList *::after,
.imageList *::before{
	box-sizing: border-box;
	transition: all .5s ease;
	padding: 0;
	margin: 0;
}
.imageList figure {
	width: 30%;
	float: left;
	margin: calc(10%/6);
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.imageList figure img{
	vertical-align: top;
	max-width: 100%;
	/*backface-visibility: hidden;*/
}

.imageList figure figcaption{
	content: "";
	position: absolute;
	top:20px;
	bottom:20px;
	left:20px;
	right:20px;
	border: 1px solid #ffffff;
	overflow: hidden;
	box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.8);
	z-index: 1;
}
.imageList figure:hover figcaption{
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.4);
}
.imageList figure figcaption h3{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	z-index: 2;
	color: #fff;
}
.imageList figure:hover figcaption h3{
	opacity: 1;
}