.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.imageList {
	max-width: 1200px;
	margin: auto;
}
.imageList *,
.imageList *::after,
.imageList *::before{
	box-sizing: border-box;
	transition: all .5s ease;
	padding: 0;
	margin: 0;
}
.imageList figure{
	width: 30%;
	float: left;
	margin: calc(10%/6);
	position: relative;
	cursor: pointer;
	color: #fff;
}

.imageList figure img{
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
}

.imageList figure figcaption{
	content: "";
	position: absolute;
	top:30px;
	bottom:30px;
	left:30px;
	right:30px;
	border: 0px solid rgba(255,255,255,.8);
	overflow: hidden;
	z-index: 1;
}
.imageList figure:hover figcaption{
	border: 10px solid rgba(255,255,255,.4);
	box-shadow: 0px 0px 20px 0 rgba(0,0,0,.5);
}
.imageList figure figcaption h3,
.imageList figure figcaption p{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 20px;
	opacity: 0;
	transform: scale(0);
	text-align: center;
}
.imageList figure figcaption p{
	width: 150px;
	text-align: center;
}
.imageList figure:hover figcaption h3{
	bottom: 80px;
	opacity: 1;
	transform: scale(1);
}
.imageList figure:hover figcaption p{
	bottom: 50px;
	opacity: 1;
	transform: scale(1);
	transition-delay: .1s;
}
