.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.imageList {
	max-width: 1200px;
	margin: auto;
}
.imageList *,
.imageList *::after,
.imageList *::before{
	box-sizing: border-box;
	transition: all .5s ease;
	padding: 0;
	margin: 0;
}
.imageList figure{
	width: 30%;
	float: left;
	margin: calc(10%/6);
	position: relative;
	cursor: pointer;
	color: #fff;
	overflow: hidden;
}
.imageList figure img{
	vertical-align: top;
	width: 100%;
	backface-visibility: hidden;
	-webkit-filter: grayscale(1);
}
.imageList figure:hover img{
	-webkit-filter: grayscale(0);
}
.imageList figure figcaption{
	z-index: 1;
	/*background-color:rgba(0,0,0,0);*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.imageList figure:hover figcaption{
	/*background-color:rgba(0,0,0,.6);*/
}
.imageList figure figcaption h3{
	position: absolute;
	font-weight: normal;
	left: 20%;
	bottom: 30%;
	width: 80px;
	height: 24px;
}
.imageList figure figcaption h4{
	position: absolute;
	font-weight: normal;
	left: 20%;
	bottom: 20%;
	width: 80px;
	height: 24px;
	background-color: #fff;
	color: #000;
	text-align: center;
	line-height: 24px;
}
.imageList figure figcaption p{
	position: absolute;
	left: 20%;
	bottom: 45%;
	opacity: 0;
	transform: translateX(40px);
	transition-delay: .2s;
}
.imageList figure:hover figcaption p{
	opacity: 1;
	transform: translateX(0px);
}
.imageList figure figcaption::before,
.imageList figure figcaption::after{
	content: "";
	width: 80%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	/*right: 0;*/
	bottom: 42%;
	right: -80%;
}
.imageList figure figcaption::after{
	bottom: 16%;
	width: 43%;
	left: -45%;
}
.imageList figure:hover figcaption::before{
	right: 0;
}
.imageList figure:hover figcaption::after{
	left: 0;
}
.imageList figure figcaption h3::before,
.imageList figure figcaption h3::after{
	content: "";
	position: absolute;
	height: 300px;
	width: 1px;
	background-color: #fff;
}
.imageList figure figcaption h3::before{
	right: -10px;
	bottom: -500px;
}
.imageList figure figcaption h3::after{
	left: -10px;
	top: -800px;
}
.imageList figure:hover figcaption h3::before{
	bottom: -274px;
}
.imageList figure:hover figcaption h3::after{
	top: -248px;
}
