<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/layout2.css"/>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>我的个人主页</h1>
				<ul>
					<li><a href="">首页</a></li>
					<li><a href="">首页</a></li>
					<li><a href="">首页</a></li>
					<li><a href="">首页</a></li>
					<li><a href="">首页</a></li>
					<li><a href="">首页</a></li>
				</ul>
			</header>
			<section id="content" class="clearfix">
				<aside>aside</aside>
				<main>main</main>
			</section>
			<footer>footer</footer>
		</div>
<!--
	为什么要用容器
		有些时候，一些内容可以归属为一块，并且可以有一些统一的样式
	
	CSS里的百分比， 相对于父元素的宽度和高度而言的
	
-->
	</body>
</html>
