/*
 纯CSS优雅下拉菜单
 	利用渐变和阴影实现的下拉菜单
 * */
.clearfix::after{
	content: "";
	display: table;
	clear: both;
	width: 0;
	height: 0;
}
body{
	background-color: darkgray;
}
.menu{
	max-width: 980px;
	margin: 100px auto;
	height: 48px;
	background: linear-gradient(#fff,#ccc);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
}
.menu ul{
	padding: 0;
	list-style-type: none;
}
.menu ul li{
	float: left;
	margin: 0 1em;
	position: relative;
}
.menu li a{
	text-decoration: none;
	color: #333;
	
	display: inline-block;
	padding: 0.5em 1em 0.5em 0.5em;
	margin: .4em 0;
}
.menu li:hover a{
	background: linear-gradient(#eee, #fff);
	box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.1);
	border-radius: 12px;
	color: #000;
}
.menu li i{
	font-size: 1.2em;
	margin: 0 .5em;
}
.menu li ul{
	position: absolute;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5 ease;
	
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	
	z-index: -1;
}
.menu li:hover ul{
	max-height: 200px;
}
.menu li ul li{
	float: none;
	margin: 10px 6px;
}
.menu li ul li a,
.menu li:hover ul li a{
	background: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 0 0.5em;
	word-break: keep-all;
}