/*:root{
  --item-width: 100px;
  --bg-color:rgba(100,180,100,.6);
  --bg-color2:rgba(100,200,100,.8);
  --active-color:rgba(80,160,80,.6);
}*/
*{
  box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.menu{
	max-width: 980px;
	margin: 100px auto;
	height: 48px;
	background: linear-gradient(#fff,#ccc);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
}
.menu ul{
	list-style-type: none;
	position: relative;
}
.menu ul li{
	float: left;
	/*margin: 0 1em;*/
	position: relative;
	z-index: 2;
}
.menu li a{
	text-decoration: none;
	color: #333;
	
	display: inline-block;
	/*padding: 0.5em 1em 0.5em 0.5em;
	margin: .4em 0;*/
	width: 100px;
	height: 48px;
	text-align: center;
	line-height: 48px;
}
.menu li:hover a,
.menu li.active a{
	color: #000;
}
.menu li i{
	font-size: 1.2em;
	margin: 0 .5em;
}
.menu li ul{
	padding: 0;
	position: absolute;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
	
	background:linear-gradient(#fff,#ddd);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	
	z-index: -1;
}
.menu li:hover ul{
	max-height: 200px;
}
.menu li ul li{
	float: none;
	margin: 10px 6px;
}
.menu li ul li a,
.menu li:hover ul li a{
	height: 24px;
	line-height: 24px;
	text-align: left;
	margin: 0;
	padding: 0 1em;
	word-break: keep-all;
}
.menu li ~ .marker{
	width: 100px;
	height: 30px;
	background: linear-gradient(#eee, #fff);
	box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.1);
	border-radius: 12px;
	position: absolute;
	left: 40px;
	top: 7px;
	transition: left .5s;
	z-index: 1;
}
.menu li:nth-of-type(2):hover ~ .marker{
	left: 140px;
}
.menu li:nth-of-type(3):hover ~ .marker{
	left: 240px;
}
.menu li:nth-of-type(4):hover ~ .marker{
	left: 340px;
}
.menu li:nth-of-type(5):hover ~ .marker{
	left: 440px;
}

