body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background: tomato;
}
.skew-menu {
  text-align: center;
  margin-top: 9em;
}
.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
}
.skew-menu ul li {
  background: #fff;
  float: left;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #555;
  font-weight: bolder;
  transition: all 0.3s linear;
  position: relative;
}
.skew-menu>ul>li:first-child {
  border-radius: 7px 0 0 7px;
}
.skew-menu>ul>li:last-of-type {
  border-right: none;
  border-radius: 0 7px 7px 0;
}
.skew-menu ul li:hover {
  background: #eee;
  color: tomato;
}
.skew-menu ul li a{
  display: block;
  padding: 1em 2em;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
}
.skew-menu li ul{
	left: 0;
	position: absolute;
	max-height: 0;
	transform: skew(0deg);
	transition: max-height .4s;
	overflow: hidden;
}
.skew-menu li:hover ul{
	max-height: 200px;
}
.skew-menu li ul li{
	float: none;
	word-break: keep-all;
}
