body{
	background-color: #ddd;
}
.verticalMenu{
	width: 1000px;
	margin: 100px auto;
}
.verticalMenu ul{
	padding: 0;
	list-style-type: none;
}
.verticalMenu ul li{
	float: left;
}
/*用左边框的方式实现边框*/
/*.verticalMenu ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 20px;
	border-left: 10px solid #BAC358;
	transition:all .5s;
}
.verticalMenu ul li:nth-child(2) a{
	border-left-color:#62BDCF;
}
.verticalMenu ul li:nth-child(3) a{
	border-left-color:#E05735;
}
.verticalMenu ul li:nth-child(4) a{
	border-left-color:#af821b;
}
.verticalMenu ul li:nth-child(5) a{
	border-left-color:#837D63;
}
.verticalMenu ul li a:hover{
	border-left-width:200px;
	text-indent: -190px;
}*/
/*
 当鼠标放到链接上的时候（鼠标悬停a的时候）
 	边框变宽，颜色没变，文字位置不变
 	
鼠标悬停的效果的时候
	悬停谁
	谁做变化
 * */
/*用::before为对象的方式实现边框*/
.verticalMenu ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 20px;
	width: 160px;
	text-align: center;
	position: relative;
	z-index: 1;
	margin-bottom: 2px;
	background-color: #fff;
}
.verticalMenu ul li a::before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 90%;
	bottom: 0;
	background-color: #BAC358;
	transition:all .5s;
	z-index: -1;
}
.verticalMenu ul li:nth-child(2) a::before{
	background-color: #62BDCF;
}
.verticalMenu ul li:nth-child(3) a::before{
	background-color: #E05735;
}
.verticalMenu ul li:nth-child(4) a::before{
	background-color: #af821b;
}
.verticalMenu ul li:nth-child(5) a::before{
	background-color:#837D63;
}
.verticalMenu ul li a:hover::before{
	top: 0%;
}