/*.clearfix::after{
	content: "";
	display: table;
	clear: both;
}*/
body{
	padding: 0;
	margin: 0;
}
.menu{
	height: 48px;
	background: orange;
	box-shadow: 0px 1px 4px 0 #666;
	text-align: center;
}
.menu ul{
	list-style: none;
	display: inline-block;
	margin: 0;
	/*
	 * 从块状元素转换为行内块元素，相当于文字级别
	 * 在他的父元素上设置文字居中，
	 */
}
.menu ul li{
	/*float: left;*/
	display: inline-block;
}
.menu ul li a{
	color: #000;
	text-decoration: none;
	display: inline-block;
	width: 160px;
	height: 48px;
	line-height: 48px;
	border-left: 1px solid rgba(0,0,0,.4);
}
.menu ul li a:hover{
	color: #fff;
}
.menu ul li:last-child a{
	border-right: 1px solid rgba(0,0,0,.4);
}