/*
 基础设置
 * */
*{
	box-sizing: border-box;
}
body{
	color: #000;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
figure{
	margin: 0;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container{
	max-width: 1200px;
	margin: auto;
}
/*
 header部分
 * */
header{
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.8);
}
header .logo{
	float: left;
}
header .logo img{
	display: inline-block;
	vertical-align: middle;
}
header .logo span.siteName{
	font-size:3em;
	vertical-align: middle;
	color: #fff;
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Dancing Script', cursive;
	/*
	 http://www.googlefonts.cn/
	 * */
}
header .topMenu{
	float: right;
}
header .topMenu li{
	float: left;
	margin: 20px;
}
header .topMenu li a{
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	transition: color .5s;
}
header .topMenu li.active a,
header .topMenu li a:hover{
	color: #339BEB;
}
/*
 焦点部分
 * */
.banner{
    color: #fff;
	background: url(../img/banner.jpg) no-repeat center top;
	background-size: cover;
}
.banner .caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
.banner .caption h1 span{
	color: #339BEB;
}
.banner .caption p{
	text-align: left;
	line-height: 1.8;
}
.banner .caption p em{
	background-color:rgba(255,255,255,.5);
	color: #000;
	padding: 2px 4px;
	font-style: normal;
	text-shadow: none;
}
/*
 关于部分
 * */
section{
	padding: 50px 0px;
	line-height: 2;
	min-height: 400px;
}
section h2{
	text-align: center;
	font-family: "微软雅黑";
	margin: 0px;
}
section h2+p{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 60px;
}
.about{
	
}
.about .img{
	width: 49%;
	float: left;
}
.about .img img{
	width: 100%;
	height: auto;
}
.about .note{
	width: 49%;
	float: right;
	text-align: left;
}
.about .note ul{
	counter-reset:testname 0;
}
.about .note li{
	counter-increment:testname 1;
	position: relative;
	padding-left: 2em;
	cursor: pointer;
}
.about .note li::before{
	content:counter(testname);
	width: 1.2em;
	height: 1.2em;
	border: 1px dashed #000;
	text-align: center;
	line-height: 1.2;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	top: 0.3em;
	transition:transform .5s;
	transform: translate(0px);
}
.about .note li:hover::before{
	transform: translate(0.5em);
}
/*
 服务模块
 * */
.service{
	min-height: 600px;
	background: url(../img/banner2.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,.5);
}
.service li{
	float: left;
	width: 48%;
	margin-right: 4%;
	text-align: right;
}
.service li::after{
	content: "";
	display: table;
	clear: both;
}
.service li:nth-child(2n){
	margin-right: 0px;
	text-align: left;
}
.service li i{
	float: right;
	padding: 12px 0px 12px 20px;
}
.service li:nth-child(2n) i{
	float: left;
	padding: 12px 20px 12px 0px;
}
.service li h3{
	display: inline-block;
	margin: 0px;
}
/*
 * 项目模块
 * */
.project{
	
}
.project figure{
	float: left;
	overflow: hidden;
	width: 24%;
	margin: 10px calc(4% / 3) 10px 0px;
	position: relative;
	cursor: pointer;
}
.project figure:nth-child(4n){
	margin-right: 0px;
}
.project figure img{
	width: 100%;
	height: auto;
	transform: scale(1) rotate(0deg);
	transition: transform .5s;
	vertical-align: top;
}
.project figure:hover img{
	transform: scale(1.2) rotate(3deg);
}
.project figure figcaption{
	position: absolute;
	left: 5%;
	right: 5%;
	top: 50%;
	bottom: 5%;
	background-color: rgba(255,255,255,.8);
	padding: 10px;
}
.project figure figcaption .time{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color:#339BEB;
	font-size: 0.8em;
	text-align: center;
}
.project figure figcaption .time .month{
	background-color: rgba(0, 0, 0, 0.1);
}
.project figure figcaption h3{
	margin: 5px 0px 0px 70px;
}
.project figure figcaption p{
	font-size: 0.8em;
	line-height: 1.5;
}
.project figure figcaption .data{
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 0.8em;
	width: 100%;
	height: 24px;
	line-height: 24px;
	background-color: rgba(0,0,0,.2);
	text-align: right;
}
.project figure figcaption .data *{
	padding: 0px 2px;
}
/*
 * 联系我们
 */
.contact{
	background: url(../img/android-1869510_1920.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
}
.contact .left{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.contact .left p{
	margin-top: 0px;
}
.contact li i{
	padding: 0px 10px 0px 0px;
}
.contact .right{
	float: right;
	width: 48%;
	margin-right: 0%;
}
.contact .right input,
.contact .right textarea{
	width: 100%;
	padding: 10px 16px;
	margin: 10px 0;
	border: none;
	outline: none;
	border-radius: 5px;
	background: rgba(255,255,255,0.6);
}
::-webkit-input-placeholder{
	color: #000;
}
::-moz-placeholder{
	color: #000;
}
