/*
 * 全局 
 * 
 * */
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	list-style: none;
	padding: 0px;
}
a{
	text-decoration: none;
}
input{
	border: none;
	outline: none;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding: 1px;
}
body{
	min-height: 1400px;
	font-family: "微软雅黑",simhei;
}
/*
 字体设置，google font
 * */
/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://fonts-gstatic.googlefonts.net/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYFK2TSYBz0eNcHnp4YqE4Ts.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
 * header部分
 * */
header{
	position: fixed;
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0);
	transition:padding .5s,background-color .5s;
}
header.on{
	padding: 5px 0px;
	background-color: rgba(0,0,0,0.6);
}
header a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header a:hover{
	color: #339BEB;
}
header .logo{
	float: left;
}
header .logo img,
header .logo span{
	vertical-align: middle;
}
header .logo span{
	font-size:3.5em;
	font-family: 'Dancing Script', cursive;
}
header .topMenu{
	float: right;
	margin-top: 5px;
}
header .topMenu ul li{
	float: left;
	margin: 0px 30px;
}
/*
 * banner
 * */
.banner{
	min-height: 600px;
	background: url(../img/banner.jpg) no-repeat center top;
	color: #fff;
	line-height: 1.5;
}
.banner .container{
	width: 800px;
	height: 180px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.banner .container h1{
	text-align: center;
}
.banner .container h1 strong{
	color: #339BEB;
}.banner .container p strong{
	background-color:rgba(255,255,255,.5);
	color:#000;
	padding: 3px;
	font-weight: normal;
	
}
