/*
 全局设置
 * */
*{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	list-style-type: none;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #fff;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding: 1px;
	position: relative;
}
body{
	min-height: 1400px;
	font-family: "微软雅黑",simhei;
}
/*
 字体,不使用google字体，下载到本地来使用
 **/
/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google//DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
 header部分
 * */
header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	padding: 20px 0px;
	background-color:rgba(0,0,0,.01);
	transition: background-color .5s,padding .5s;
}
header.on{
	padding: 5px 0px;
	background-color:rgba(0,0,0,.8);
}
header .logo{
	float: left;
}
header .logo span,
header .logo img{
	vertical-align: middle;
}
header .logo span{
	font-size: 3.6em;
	font-family: 'Dancing Script', cursive;
}
header .topMenu{
	float: right;
}
header .topMenu ul li{
	float: left;
	margin: 10px 30px;
}
header .topMenu a{
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header .topMenu a:hover{
	color: #339BEB;
}
/*
 首页banner的设置
 * */
.banner{
	/*min-height: 800px;*/
	background: url(../img/banner.jpg) no-repeat center top;
}
.banner .text{
	max-width: 800px;
	height: 180px;
	color: #fff;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	line-height: 1.5;
} 
.banner .text h1{
	text-align: center;
}
.banner .text h1 strong{
	color: #339BEB;
}
.banner .text p mark{
	background-color: rgba(255,255,255,.5);
	padding: 4px;
	color: #000;
}
/*
 * 关于我们设置
 */
section h2{
	text-align: center;
	margin-top: 50px;
}
section h2+p{
	text-align: center;
	margin-bottom: 80px;
}
.about .img{
	/*
	 * 宽度 48%
	 * 左浮动
	 */
	width: 48%;
	float: left;
}
.about .img img{
	width: 100%;
}
.about .note{
	/*
	 宽度
	右浮动
	 * */
	width: 48%;
	float: right;
	line-height: 2;
}
.about .note p:first-child{
	margin-top: 0;
}
.about .note ol{
	padding: 0;
	list-style: none;
	counter-reset: a;
}
.about .note li{
	counter-increment: a;
}
.about .note li::before{
	content: counter(a);
	width: 20px;
	height: 20px;
	display: inline-block;
	/*background-color: #000;
	color: #fff;*/
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	border: 1px dashed #000;
	margin-right: 20px;
	/*transition: transform .5s;*/
}
.about .note li:hover::before{
	/*transform: translate(10px) rotate(360deg);*/
	animation: go 2s;
}
@keyframes go{
	0%{
		transform: translate(20px);
	}
	10%{
		transform: translate(-20px);
	}
	20%{
		transform: translate(15px);
	}
	30%{
		transform: translate(-15px);
	}
	40%{
		transform: translate(10px);
	}
	50%{
		transform: translate(-10px);
	}
	60%{
		transform: translate(5px);
	}
	70%{
		transform: translate(-5px);
	}
	80%{
		transform: translate(3px);
	}
	90%{
		transform: translate(-3px);
	}
	100%{
		transform: translate(0px);
	}
}
/*
 服务部分
 * */
.service{
	background: url(../img/desktop.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
}
.service .container{
	z-index: 2;
}
.service::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*background-color: rgba(0,0,0,.3);*/
	box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,.5);
	z-index: 1;
}
.service li{
	width: 48%;
	float: left;
	text-align: right;
	min-height: 100px;
	margin: 20px 0px;
	cursor: pointer;
}
.service li::after{
	content: '';
	display: table;
	clear: both;
}
.service li:nth-child(2n){
	float: right;
	text-align: left;
}
.service li i{
	float: right;
	padding: 5px 0px 5px 30px;
	transition: transform .5s, color .5s;
}

.service li:nth-child(2n) i{
	float: left;
	padding: 5px 30px 5px 0px;
}
.service li:hover i{
	color: #339BEB;
	transform: scale(1.2) rotate(5deg);
}
.service li h3{
	display: inline-block;
	margin: 0;
}
