h1{
	text-align:center;
}
h1 span{
	color:red;
}
p{
	text-indent:2em;
	line-height:1.5em;
}
p em{
	text-decoration:underline;
}
figure{
	text-align:center;
}
td:nth-child(2),
td:nth-child(3){
	text-align: center;
}