/*
 公共设置
 * */
*{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	padding: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}

/*
整体设置
 * */
body{
	background: url(../img/bg.jpg) center top fixed;
	min-height: 1200px;
	color: #fff;
}
.wrapper{
	max-width: 1200px;
	padding: 20px;
	margin: auto;
}
/*
 头部设置
 * */
header{
	position: relative;
	margin: 30px 0px;
}
.logo h1{
	display: none;
}
.logo img{
	width: 80px;
	height: auto;
}
.mainNav{
	position: absolute;
	top: 0;
	right: 0;
}
.mainNav ul li{
	float: left;
	margin: 20px 30px;
}
.mainNav ul li a{
	padding: 20px;
	border: 1px solid transparent;
	transition: color .5s,border .5s;
}
.mainNav ul li a:hover{
	color: #000;
	border: 1px solid #fff;
}
header h2{
	margin: 50px 0;
	font-size: 30px;
}
p a{
	border-bottom:1px dashed #fff;
	padding-bottom: 4px;
	transition: border .5s;
}
p a:hover{
	border-bottom:1px solid #fff;
}
/*
 * 中间部分设置
 * */
main section{
	margin: 50px 0px;
}
main section h2{
	margin-bottom: 0px;
}
.fav li{
	float: left;
	width: 160px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background-color:rgba(100,100,200,.6);
	margin: 10px 20px 0px 0px;
	cursor: pointer;
	border-radius: 5px;
	transition: background .5s,border-radius .5s;
}
.fav li:hover{
	border-radius: 0px;
	background-color:rgba(100,100,200,.8);
}
.work{
	padding: 0;
	margin: 0;
}
.work figure{
	width: 30%;
	margin: calc(10% / 6) calc(10% / 2) 0 0;
	float: left;
	position: relative;
}
.work figure:nth-child(3n){
	margin-right: 0px;
}
.work figure figcaption{
	width: 100%;
	height: 30px;
	position: absolute;
	z-index: 3;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	opacity: 0;
	transition: opacity .5s;
}
.work figure img{
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(.5);
	transition: webkit-filter .5s;
	cursor: pointer;
}
.work figure:hover figcaption{
	opacity: 1;
}
.work figure:hover img{
	-webkit-filter: grayscale(0);
}
/*
 contact 部分
 * */
.contactContainer dl dt{
	padding:5px 20px;
	background-color: #fff;
	color: #000;
	display: inline-block;
}
.contactContainer dl dd{
	padding:5px 20px;
	background-color: #000;
	color: #fff;
	margin: 0px 30px 0px 0px;
	display: inline-block;
}
.contact input{
	width: 31%;
	margin: 5px 2% 5px 0px;
	padding: 10px 16px;
	border-radius: 3px;
	border: none;
	outline: none;
}
.contact select{
	width: 32%;
	padding: 10px 16px;
	border-radius: 3px;
	margin: 5px 0px 5px 4px;
}
.contact textarea,
.contact input[type="submit"]{
	width: 48%;
	height: 50px;
	padding: 10px 16px;
	border-radius: 3px;
	margin: 5px 3% 5px 0px;
	vertical-align: top;
}
.contact input[type="submit"]{
	margin: 5px 0px;
	border:none;
	outline: none;
	background-color: #00BFFF;
	cursor: pointer;
}
/*
 版权部分
 * */
#goTop{
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 1px solid #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 0.8em;
	color: #fff;
}
